@model IEnumerable<SampleSecureWeb.Models.Student>

<h2>Students</h2>

<table class="table table-striped">
    <tr>
        <td>Nim</td>
        <td>Fullname</td>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.FullName</td>
            <td>@item.Nim</td>
        </tr>
    }
</table>